<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="panel panel-space panel-default recordlist">
	<div class="panel-heading">
		<span><f:translate
				key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:index.deleted_forms"/></span>
	</div>
	<div class="collapse in show">
		<div class="table-fit">
			<table id="forms" class="table table-striped table-hover">
				<thead>
				<tr>
					<th class="col-icon nowrap">&nbsp;</th>
					<th class="col-title col-responsive nowrap">
						<f:translate
								key="LLL:EXT:form/Resources/Private/Language/Database.xlf:formManager.form_name"/>
					</th>
					<th class="nowrap">
						<f:translate
								key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:index.number_of_results"/>
					</th>
					<f:if condition="!{extConf.hideLocationInList}">
						<th class="nowrap">
							<f:translate
									key="LLL:EXT:form/Resources/Private/Language/Database.xlf:formManager.location"/>
						</th>
					</f:if>
					<th class="col-control nowrap">&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{forms}" as="form">
					<f:render partial="FormResults/Index/Results/DeletedItem" arguments="{_all}"/>
				</f:for>
				</tbody>
			</table>
		</div>
	</div>
</div>

</html>
