<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.pageRenderer includeCssFiles="{stylesheets}"/>
<f:flashMessages/>
<f:render section="MainContent"/>

</html>
